<div class="backdrop" (click)="onClickBackdrop()"></div>
<div class="modal">
    <div class="modal-content">
        <div class="left-content">
            <!-- <img src="https://fastly.picsum.photos/id/976/600/200.jpg?hmac=oXjlUJW2RKeXgR87sOPLuD3AdAHp4BUHmObhGlPq02E"> -->
            <img [src] = "image.urlFullRes">
        </div>
        <div class="right-content">
            <h3>{{image.title}} <span class="copy-button" (click)="onCopy()">🔗 <span *ngIf="copied" style="font-size: 13px; font-weight: lighter;">copied</span></span></h3>
            <p style="padding: 0px; margin: 0px;">Uploaded by: {{image.uploadedBy}}</p>
            <p style="padding: 0px; margin: 0px;">Uploaded on: {{image.uploadedOn | date:'dd MMMM yyyy hh:mm a'}}</p>
            <p style="padding: 0px; margin: 0px;">Size: {{fileSize}}</p>
            <div *ngIf="currentUser.username === image.uploadedBy" style="display: flex; flex-direction: column; gap: 10px;">
                <div class="radio-group">
                    <div class="radio-left" tabindex="-1" (click)="onClickVisibility('PRIVATE')" [ngStyle]="{'background-color': image.visibility === 'PRIVATE' ? 'var(--accent)' : 'var(--primary)', 'color': image.visibility === 'PRIVATE' ? 'var(--dark)' : 'var(--accent)'}">
                        <span style="margin-right: 5px;">Private</span>
                        <span class="loader" *ngIf="isLoadingPrivate"></span>
                    </div>
                    <div class="radio-right" tabindex="-1" (click)="onClickVisibility('PUBLIC')" [ngStyle]="{'background-color': image.visibility === 'PUBLIC' ? 'var(--accent)' : 'var(--primary)', 'color': image.visibility === 'PUBLIC' ? 'var(--dark)' : 'var(--accent)'}">
                        <span style="margin-right: 5px;">Public</span>
                        <span class="loader" *ngIf="isLoadingPublic"></span>
                    </div>
                </div>
                <button type="button" class="button-custom button-custom-primary" (click)="onClickDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>
