img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 90%;
    height: 90%;
    border-radius: 0.3rem;
    background-color: #222;
    color: var(--accent);
}

.modal-content {
    display: flex;
    height: 100%;
}

.left-content {
    width: 70%;
}

.right-content {
    width: 30%;
    padding: 10px;
    border-radius: 0.3rem;
    background-color: var(--primary);
}


@media (max-width: 840px) {
    .modal {
        height: auto;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .left-content {
        width: 100%;
    }
    
    .right-content {
        width: 100%;
    }
    
}


.radio-group {
    cursor: pointer;
    display: flex;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
}
  
.radio-group div {
    appearance: none;
    width: 50%;
    height: 40px;
    border: 2px solid var(--accent);
    outline: none;
    display: flex;
    justify-content: center;
}
  
.radio-group div span {
    margin: auto 0px;
}
  
.radio-group :focus {
    transition: 0.2s ease-in-out;
    background-color: var(--accent);
    color: var(--dark);
}
  
.radio-left {
    margin: 0px;
    border-radius: 10px 0px 0px 10px;
}
  
.radio-right {
    margin: 0px;
    border-radius: 0px 10px 10px 0px;
}

.button-custom {
    cursor: pointer;
}
  
.button-custom-primary {
    outline: none;
    appearance: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    color: var(--dark);
    background-color: var(--accent);
}

.copy-button {
    cursor: pointer;
}