.registration-container {
    width: 20rem;
    margin: 50px auto;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-field input {
    width: 100%;
    height: 40px;
    font-size: 14px;
    background-color: #222;
    border-radius: 10px;
    border: none;
    color: #8c8c8c;
}

.input-field label {
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
}

.button-custom {
    cursor: pointer;
}
  
.button-custom-primary {
    outline: none;
    appearance: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    color: var(--accent);
    background-color: var(--primary);
}

.button-submit {
    margin-top: 15px;
    width: 100%;
    height: 40px;
}