/* * {
    border: 1px solid blue;
} */

.nav-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    height: 65px;
    /* background-color: #222; */
    background-color: var(--primary);
    color: var(--acent);
    margin-bottom: 20px;
}

.nav-item-navbar :hover{
    border-bottom: 3px solid var(--accent);
    transition: 0.05s ease-in-out;
}

.nav-item-name {
    width: 200px;
    align-self: center;
    margin-left: 10px;
}

.nav-item-navbar {
    display: flex;
    align-self: center;
    padding: 5px;
}

.nav-item-navbar > a {
    margin: 0px 10px;
}

.nav-item-logininfo {
    margin-left: auto;
    display: flex;
    gap: 15px;
    margin-right: 10px;
    align-self: center;
}

.action-button {
    border: 3px solid var(--accent);
    border-radius: 3rem;
    padding: 0.2rem 0.5rem;
}

a {
    color: var(--accent);
    text-decoration: none;
}

.link-active {
    border-bottom: 3px solid var(--accent);
}

.storage-bar {
    width: 100%;
    height: 5px;
    display: flex;
    margin-top: 5px;
    border: 1px solid var(--dark);
    border-radius: 5px;
}

.free-storage-bar {
    border-radius: 0px 5px 5px 0px ;
    background-color: green;
}

.occupied-storage-bar {
    border-radius: 5px 0px 0px 5px ;
    background-color: red;
}

.user-storage-info {
    /* background-color: var(--accent); */
    border-radius: 0.3rem;
    /* color: #222; */
}


  