.upload-form-container {
  padding-top: 50px;
  width: 30rem;
  margin: 10px;
  margin: 0px auto;
}

.upload-field {
  display: flex;
  gap: 8px;
}

.upload-field input{
  width: 70%;
  height: 40px;
  font-size: 14px;
  background-color: var(--dark2);
  border-radius: 10px;
  border: none;
  padding: 0px 10px;
  color: #8c8c8c;
}

.button-custom {
  cursor: pointer;
}

.button-custom-primary {
  outline: none;
  appearance: none;
  width: 30%;
  border-radius: 10px;
  border: 0px;
  color: var(--accent);
  background-color: var(--primary);
}

.button-submit {
  margin-top: 15px;
  width: 100%;
  height: 40px;
}

.button-submit :disabled {
  background-color: rgb(0, 76, 76);
}

.radio-group {
  cursor: pointer;
  display: flex;
  margin-top: 15px;
  text-align: center;
  justify-content: center;
}

.radio-group div {
  appearance: none;
  width: 50%;
  height: 40px;
  border: 2px solid teal;
  outline: none;
  display: flex;
  justify-content: center;
}

.radio-group div span {
  margin: auto 0px;
}

.radio-group :focus {
  transition: 0.2s ease-in-out;
  background-color: teal;
}

.radio-left {
  margin: 0px;
  border-radius: 10px 0px 0px 10px;
}

.radio-right {
  margin: 0px;
  border-radius: 0px 10px 10px 0px;
}